@font-face {
  font-family: "TT Lakes Regular";
  src: url("Fonts/TTLakes-Regular.eot");
  src: url("Fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("Fonts/TTLakes-Regular.woff") format("woff"),
    url("Fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("Fonts/TTLakes-Bold.eot");
  src: url("Fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("Fonts/TTLakes-Bold.woff") format("woff"),
    url("Fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url("Fonts/TTLakes-Medium.eot");
  src: url("Fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("Fonts/TTLakes-Medium.woff") format("woff"),
    url("Fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.main-nav::-webkit-scrollbar {
  display: none;
}

@media (min-width: 320px) {
  /*header*/
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 88px;

    padding-left: 16px;
    padding-right: 16px;

    box-shadow: inset 0 -1px 0 0 #b8ffec;
  }

  .nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  .nav-sub-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 16px;
  }

  .nav-block:last-child > .nav-sub-block:last-child::before {
    content: url("images/visual-effects/divider.svg");
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .nav-item {
    display: inline-flex;
  }

  .nav-item__button {
    display: inline-flex;
    align-items: center;

    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;

    background: none;
  }

  .nav-item__button-description {
    display: none;
  }

  .header-nav__logo {
    display: flex;
    align-items: center;
  }

  .nav-item__icon {
    background-color: #FF3E79;  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav__image {  }

  /*main*/
  .page-main {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-top: 24px;
    gap: 24px;
    width:100%;
  }

  .main-heading {
  }

  .main-heading__heading {
    margin: 0;
    font-family: "TT Lakes Bold", sans-serif;
    font-size: 27px;

    display: flex;
    align-items: center;
  }

  .main-heading__heading::before {
    content: url("images/visual-effects/highlight.svg");
    width: 4px;
    height: 40px;
    display: block;
    position: absolute;
    left: 0;
  }

  .main-nav {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -16px;
  }

  .main-nav__list {
    list-style-type:none;
    margin: 0;
    padding: 0;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
  }

  .main-nav__item {     
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;    
    transition: all 0.5s ease;
  }
  
  .main-nav__link {
    text-decoration: none;
    font-family: "TT Lakes Medium", sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: #7e7e82;
    white-space: nowrap;
    
    appearance: button;  
  }


  .main-nav::after {
    content: url("images/visual-effects/gradient.svg");
    position: absolute;
    right: 0;
    box-sizing: border-box;
  }

  .wide-mobile {
    display: none;
  }

  .main-nav__item:hover {
    background: #f8f8f8;
    box-shadow: inset 0px 0px 0px 2px #b8ffec;
    background-color: white;
    border-radius: 6px;
    border: hidden;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .content-block__text {
    margin: 0;
    white-space: normal;
    font-family: "TT Lakes Regular", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
  .read-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;

  }
  .read-more__button {
    font-family: "TT Lakes Medium", sans-serif;
    font-size: 16px;
    height: 24px;
    border: none;
    background: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .read-more__icon {
    box-sizing: border-box;
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .read-more__image {
  } 

  /* .read-more::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("images/visual-effects/readmore.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-sizing: border-box;
  } */

  .content-block__gallery {
    margin-left: -16px;
    width: 100vw;
  }

  .gallery__image {
  }
}

@media (min-width: 768px) {
  /*header*/
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 88px;

    padding-left: 16px;
    padding-right: 16px;

    box-shadow: inset 0 -1px 0 0 #b8ffec;
  }
  .nav-sub-block {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .nav-block:last-child > .nav-sub-block:last-child::before,
  .nav-block:first-child > .nav-sub-block:last-child::before {
    content: url("images/visual-effects/divider.svg");
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
  }

  div.nav-sub-block:nth-child(3) {
    display: flex;
  }

  .nav-item {
    display: flex;
  }

  .nav-item__button {
    align-items: center;
    justify-content: space-around;
  }

  .header-nav__logo {
    display: flex;
    align-items: center;
  }

  .header-nav__image {
  }

  .nav-item__icon {
  }

  /*main*/
  .page-main {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-top: 24px;
    gap: 32px;
  }

  .main-heading {
  }

  .main-heading__heading {
    margin: 0;
    font-family: "TT Lakes Bold", sans-serif;
    font-size: 27px;

    display: flex;
    align-items: center;
  }

  .main-heading__heading::before {
    content: url("images/visual-effects/highlight.svg");
    width: 4px;
    height: 40px;
    display: block;
    position: absolute;
    left: 0;
  }

  .main-nav {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -16px;
  }

  .main-nav::after {
    content: url("images/visual-effects/gradient.svg");
    position: absolute;
    right: 0;
    box-sizing: border-box;
  }

  .main-nav__button {
    font-family: "TT Lakes Medium", sans-serif;
    font-size: 16px;
    background: #f8f8f8;
    border-radius: 6px;
    border: hidden;
    color: #7e7e82;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 16px;
    white-space: nowrap;
  }

  .main-nav__button:focus {
    box-shadow: inset 0px 0px 0px 2px #b8ffec;
    background-color: white;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }

  .content-block {
    width: 50%;
  }
  .content-block__text {
    margin: 0;
    white-space: normal;
    font-family: "TT Lakes Regular", sans-serif;
    line-height: 20px;
    max-width: 86.67%;
  }
  .content-block__text:not(:first-child) {
    margin-top: 24px;
  }
  .content-block__gallery {
    width: 100%;
    margin: 0;
  }
  .content-block__image {
    border-radius: 6px;
    width: 100%;
  }
}

@media (min-width: 1120px) {
  .header-nav {
    background-color: #f8f8f8;
    box-shadow: none;
    height: auto;

    justify-content: flex-end;
  }
  .page-header {
    position: absolute;
    top: 42px;
    right: 32px;
    z-index: 1;
  }
  .page-main {
    position: absolute;
    top: 0;
    padding: 34px;
    padding-top: 42px;
    gap: 16px;
  }

  .nav-block:first-child {
    display: none;
  }
  .nav-block:nth-child(2) > .nav-sub-block:first-child {
    display: none;
  }

  .nav-sub-block::before {
    display: none;
  }
  .nav-item__button {
    white-space: nowrap;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    gap: 8px;
  }

  .nav-item__button-description {
    display: inline-block;
    font-family: "TT Lakes Medium", sans-serif;
    font-size: 16px;
    color: #1b1c21;
    letter-spacing: -0.2px;
    line-height: 24px;
  }
  .main-nav {
    overflow-x: unset;
    flex-wrap: wrap;
  }
  .main-nav__list {
    overflow-x: unset;
    flex-wrap: wrap;
  }
  .main-content {
    gap: 34px;
  }
  .content-block__text {
    max-width: 100%;
  }
}
